/** main.scss */
@use 'global' as *;

.blog {
  background-color: $white;
  max-width: unset;
  padding: 5% 10%;

  .title {
    @extend %base-title;
    margin: 0px 0px 8px;
  }

  .process-list {
    margin-top: 40px;
    margin-bottom: 36px;

    .process {
      margin-bottom: 25px;

      & > div {
        & > h3 {
          color: $dark-green-title;
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 500;
          font-family: "Open Sans", sans-serif;
        }

        & > p {
          color: $dark-green-text;
          font-family: "Open Sans", sans-serif;
          margin: 0;
          font-size: 16px;
        }
      }

      .process-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;

        img {
          height: 100%;
          vertical-align: middle;
        }
      }
    }
  }

  .metadata {
    font-weight: 500;
    font-size: 14px;
    color: #979797;

    .category {
      color: #67b54b;
    }

  }

  .card-text {
    color: #4a4a4a;
    font-size: 18px;
    line-height: 1.5em;
    min-height: 6em;
  }

  .author img {
    border-radius: 50%;
    width: 35px;
    height: 35px;

  }

  .author p {
    color: $gray;
    font-family: "Open Sans", sans-serif;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
  }

  button {
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 12px;
    width: 180px;
    margin-bottom: 15px;
  }
}
